@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
}
.slider {
}
#slider::-webkit-scrollbar {
  height: 0px;
}
#banner {
  background-image: url('../images/bg-simplify-section-desktop.svg');
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: 38% 150%;
  margin-bottom: 1000px;
}
@media screen and (min-width: 768px) {
  #banner {
    background-size: 110%;
    /* background-position-x: 250%; */
    background-position: -150% 100%;
  }
}
