@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
}
header {
  background-image: url('../images/bg-tablet-pattern.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 50px -100px;
}
body.active {
  overflow: hidden;
}
#slider::-webkit-scrollbar {
  height: 0px;
}
#banner {
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 0% 35%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: brown;
  padding-bottom: 10px;
}
.attribution a {
  color: hsl(227, 12%, 61%);
}
.attribution a:hover {
  text-decoration: underline;
}
h1,
h2 {
  line-height: 60px !important;
}
p {
  line-height: 30px !important;
}
#menu-btn {
  z-index: 11;
  position: relative;
}
#menu-btn > :first-child {
  display: block;
}
#menu-btn > :last-child {
  display: none;
}
#menu-btn.active > :first-child {
  display: none;
}
#menu-btn.active > :last-child {
  display: block;
}
#mobile-menu {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1));
  left: -150%;
  transition: all ease 0.32s;
}
#mobile-menu.active {
  left: 0%;
}
@media screen and (min-width: 567px) {
  header {
    background-size: 750px;
    background-position: 300px -100px;
  }
}
@media screen and (min-width: 967px) {
  body {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: -400px 1200px;
  }
  header {
    background-size: 750px;
    background-position: 800px -100px;
  }
  #banner {
    background-size: 1800px;
    background-position: 0 100%;
    background-image: url('../images/bg-simplify-section-desktop.svg');
  }
}
